body{
    margin: 0;
    padding: 0;
}

#navigation ul{
        left: 15px;
        padding: 30px 20px;
        text-decoration: none;
        text-transform: uppercase;
        background-color: brown;
        padding-right: 30px;
        list-style: none;
        margin-top: -5px;    
}

#navigation li{
    position: relative;
    margin-left: 30px;
    clear: both;
    display: inline;
}

#navigation a{
    text-decoration: none;
    color: white;
    text-align: center;
}


#app {
    padding: 10px;
}

button{
    height: 50px;
    width:200px;
    color: white;
    background-color: teal;
    border-color: teal;
    padding-right:10px;
    font-size: 30px;
    border-radius: 10px;
    text-transform: uppercase;
}

input{
    border-radius: 50px;
    height: 40px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-left: 20px;
    top: 10px;
}

#lista  li{
    position: relative;
    padding-bottom: 5px;
    list-style: none;
    font-size: xx-large;
    color:white;
    background-color: teal;
    white-space: pre-wrap;
    margin: 10px;
    
}
h1{
    text-align: center;
    font-size: 46px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: bolder;
    color: cornsilk;

}
.req-ajax{
    background-color: cornflowerblue;
}

#lista-git li{
    position: relative;
    padding-bottom: 5px;
    list-style: none;
    font-size: xx-large;
    color:white;
    background-color: teal;
    white-space: pre-wrap;
    margin: 10px;
}


.button  {
    
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    background-color: darkred;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    position: relative;
    text-align: right;
    float: right;
    
}

.button:hover{
    background-color: tomato;
}

.btn-add{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    background-color: darkgreen;
    padding-left: 5px;
    padding-right: 10px;
    position: relative;
    text-align: right;
    margin-left: 5px;
    
}
#btn-adicionar-git{
    padding-left: 0px;
    padding-right: 35px;
}

#todo{
    margin-left: 55px;
}

.btn-add:hover{
    background-color: green;
}